@import "ant-omega.styles"; //the following resources are already called in the ant-omega.styles.css
//the following resources are already called in the think-omega.styles.css
//@import "compass";
//@import "breakpoint";
//@import "singularitygs";
//@import "toolkit";

// Globbing from within sub-folders only works with relative paths.
//@import "../../variables/**/*"; //this relative file path to the 'variables' doesn't work!!? See the import above!

 /* ===Parallax=== */

.content {
 /*  position: relative;
  background: white;
  margin-bottom: 400px;
  overflow: hidden;  */
}

/* img {
  max-width: 100%; } */

.parallax-box {
  position: relative;
  height: 600px;
  background-image: url("../../../images/home-page-images/stone-sunset-mobile.jpg");
  /* background-size: auto 600px; */
  background-size: cover;
  background-position: top center;
  /* background-attachment: fixed; */
  overflow: hidden; 
}

.parallax-logo {
  height: 125px;
  width: 100%;
  background-image: url("../../../images/ant-logo.png");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  margin-top: -50px; }

.fore-bird {
  width: 960px;
  height: 733px;
  background-image: url("../../../images/fore-bird.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  position: absolute;
  left: 50%;
  margin-left: -480px;
  top: 380px; }

.back-bird {
  width: 960px;
  height: 298px;
  background-image: url("../../../images/back-bird.png");
  background-repeat: no-repeat;
  background-position: top left;
  position: absolute;
  left: 50%;
  margin-left: -480px; }


  /* ===== */

.hp-intro { //creates the black spacer behind the navigational opacity strip
	height: 49px;
	background-color: #000;
}


.l-page .pod-panel {
	margin: 0px 2% 50px;

		p {
		color: #999;
		}
}

.l-page {


	.home-page-panel {
		position: relative;
		padding: 36px 5% 36px 5%;
		background: #f1f1f1;

				h2.node__title {
					display: none;
				}

				h2 {
					color: #000;
					margin-top: 0;
					padding-top: 0;
					font-size: 2em;
				}

				h3 {
					color: #000;
					font-size: 1.75em
				}

				h4 {
					color: #000;
				}

				p {
					color: #000;
					size: 12px;
				}

	}

.uks-panel-more-info {
	position: relative;
	padding: 36px 5% 36px 5%;
	background-position: left top;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	height: 1000px;
	background-image: url("../../../images/layout-images/uks-dismounting-villersb-v2.jpg");

		.pod-panel {

					margin-top: 410px;


			
					h2.node__title {
						display: none;
					}

					h2 {
						color: #fff;
						margin-top: 0;
						padding-top: 0;
						font-size: 2.75em;
					}

					h3 {
						color: #fff;
						font-size: 2.75em
					}

					h4 {
						color: #fff;
					}

					p {
						color: #fff;
					}

				}
				.image-note { // Image name / title for the panes within the UKS panel page
						position: absolute;
						right: 10px;
						bottom: 0;
						
						p {
						font-size: 0.95em;
						color: #999;	
						}

					}

	}

}

@include breakpoint($tab) {

.hp-intro {
	height: 100px;
}

.parallax-box {
	background-image: url("../../../images/home-page-images/stone-sunset-narrow.jpg");

	}

	/* .parallax-logo {
	  height: 125px;
	  width: 100%;
	  background-image: url("../../../images/ant-logo.png");
	  background-position: center;
	  background-repeat: no-repeat;
	  position: absolute;
	  top: 50%;
	  margin-top: -50px; } */


	.l-page .pod-panel {
		margin: 0px 12.5% 100px 12.5%;
		}


	.l-page {

		.uks-panel-more-info {
			//height: 1000px;
			//background-image: url("../../../images/layout-images/uks-dismounting-villersb.jpg");

		}
		
	}


}



@include breakpoint($tabwide) {


.parallax-box {
background-image: url("../../../images/home-page-images/stone-sunset-normal.jpg");

}



	.l-page .pod-panel {
		margin: 0px 12.5% 100px 12.5%;
		}


	.l-page {

		.uks-panel-more-info {
			//height: 1000px;
			//background-image: url("../../../images/layout-images/uks-dismounting-villersb.jpg");

		}
		
	}

}

@include breakpoint($desk) {

.parallax-box {
background-image: url("../../../images/home-page-images/stone-sunset-wide.jpg");

}

	.l-page {

		.uks-panel-more-info {
			height: 1400px;
			//background-image: url("../../../images/layout-images/uks-dismounting-villersb.jpg");

		}
		
	}


}