@import "ant-omega.styles"; //the following resources are already called in the ant-omega.styles.css
//the following resources are already called in the think-omega.styles.css
//@import "compass";
//@import "breakpoint";
//@import "singularitygs";
//@import "toolkit";

// Globbing from within sub-folders only works with relative paths.
//@import "../../variables/**/*"; //this relative file path to the 'variables' doesn't work!!? See the import above!

// ========== Mobile media query ==========

 /* ===Parallax=== */

.parallax-box {
  position: relative;
  height: 600px;
  background-image: url("../../../images/home-page-images/stone-sunset-mobile-revised.jpg");
  background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
  background-attachment: fixed;
  overflow: hidden; 
}

.parallax-logo {
  height: 62px;
  width: 100%;
  background-image: url("../../../images/ant-logo-mb.png");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  margin-top: -31px;
}

.parallax-logo-shadow {
  height: 64px;
  width: 100%;
  background-image: url("../../../images/ant-logo-mb-shadow.png");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 70%;
  margin-top: -32px;
}

  /* ===== */

.hp-intro { //creates the black spacer behind the navigational opacity strip
	height: 49px;
	background-color: #000;
}

.l-page {


	.home-page-panel {
		padding: 36px 5%;
		background: #f1f1f1;


			h1 {
				color: #000;
				margin: 0;
				padding: 60px 0;
				font-size: 2.50em;
				text-align: center;
			}
		

			h2.node__title {
				display: none;
			}

			h2 {
				color: #000;
				margin-top: 20px;
				margin-bottom: 0;
				padding-top: 0;
				font-size: 2.25em;
			}

			h3 {
				color: #000;
				margin-top: 20px;
				font-size: 1.75em

			}

			p {
				color: #000;
				font-size: 1em;
			}


	}

.home-page-panel-uks {
	position: relative;
	padding: 36px 5%;
	background-position: left top;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	height: 1000px;
	background-image: url("../../../images/layout-images/uks-dismounting-villersb-v2.jpg");

		.pod-panel {
			margin-top: 410px;

			
					h2.node__title {
						display: none;
					}

					h2 {
						color: #fff;
						margin-top: 0;
						padding-top: 0;
						font-size: 2.75em;
					}

					h3 {
						color: #fff;
						font-size: 2.75em
					}

					h4 {
						color: #fff;
					}

					p {
						color: #fff;
					}

				}

				.button_site_uks.button2 {
					margin-top: 20px;
					
				}

				.image-note { // Image name / title for the panes within the UKS panel page
						position: absolute;
						right: 10px;
						bottom: 0;
						
						p {
						font-size: 0.95em;
						color: #999;	
						}

	
					}

			}

	.home-page-panel-learn-more {
		padding: 36px 5% 80px 5%;
	}

}


// ========== Tablet narrow media query ==========

@include breakpoint($tab) {

.hp-intro {
	height: 100px;
}

.parallax-box {
    height: 492px; //Set the exact height of the bg image on Tablet narrow
	background-image: url("../../../images/home-page-images/stone-sunset-wide-revised.jpg");
	background-size: 100% auto;

	}

	.parallax-logo {
	  height: 125px;
	  width: 100%;
	  background-image: url("../../../images/ant-logo.png");
	  background-position: center;
	  background-repeat: no-repeat;
	  position: absolute;
	  top: 50%;
	  margin-top: -72px; 
	}

	.parallax-logo-shadow {
	  height: 166px;
	  width: 100%;
	  background-image: url("../../../images/ant-logo-shadow.png");
	  background-position: center;
	  background-repeat: no-repeat;
	  position: absolute;
	  top: 60%;
	  margin-top: -83px; 
	}


	.l-page .pod-panel {
		padding-left: 0;
		padding-right: 0;
	}


	.l-page {

		.home-page-panel {
			padding-right: 0;
			padding-left: 0;

		.pod-panel {

				h3 {
					margin-top: 0;
				}

			}

	}

		.home-page-panel-uks {
			padding-right: 0;
			padding-left: 0;
			height: 1000px;

			.pod-panel {


				.button_site_uks.button2 {
					margin-top: 0;
				}

			}

		}
		
	}


}


// ========== Tablet wide media query ==========

@include breakpoint($tabwide) {


.parallax-box {
	height: 600px; //Reset height for the bg image on Tablet Wide
	background-image: url("../../../images/home-page-images/stone-sunset-wide-revised.jpg");
}

	.l-page {

		.home-page-panel-uks {
			height: 1000px;

		}
		
	}

}

// ========== Tablet desktop media query ==========

@include breakpoint($desk) {

.parallax-box {
	position: relative;
	height: 1000px;
	background-position: center top;
		background-repeat: no-repeat;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
  	background-attachment: fixed;
  	overflow: hidden;
  	background-image: url("../../../images/home-page-images/stone-sunset-wide-revised.jpg");
}

	.l-page {

		.home-page-panel-uks {
			height: 1400px;

		}
		
	}


}