@import "ant-omega.styles"; //the following resources are already called in the ant-omega.styles.css
//the following resources are already called in the think-omega.styles.css
//@import "compass";
//@import "breakpoint";
//@import "singularitygs";
//@import "toolkit";

// Globbing from within sub-folders only works with relative paths.
//@import "../../variables/**/*"; //this relative file path to the 'variables' doesn't work!!? See the import above!

.hp-intro {
    height: 49px;
    background-color: #000;
}

.hp-box {
	min-height: 300px;
	background-position: left top;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-image: url("../../../images/home-page-images/uks-wide.jpg");
	text-align: center;
	padding-top: 50px;

		.hp-info-holder {
			padding: 20px 0;
			margin: 0 15%;

		h1 {
			color: #f1f1f1;
			font-weight: normal;
			font-size: 2.5em;
			padding: 50px 0 0;
			margin: 0;
		}

		h2 {
			color: #f1f1f1;
			font-weight: normal;
			font-size: 2.0em;
			padding: 50px 0 0;
			margin: 0;
		}

		p {
			color: #f1f1f1;
			font-weight: normal;
			font-size: 1.5em;
			padding: 50px 0 0;
			margin: 0;

		}
	}

}

.l-page .uks-panel {
	position: relative;
	padding: 36px 5% 36px 5%;
	background: #f1f1f1;

			h2.node__title {
				display: none;
			}

			h2 {
				color: #000;
				margin-top: 0;
				padding-top: 0;
				font-size: 2em;
			}

			h3 {
				color: #000;
				font-size: 1.75em
			}

			h4 {
				color: #000;
			}

			p {
				color: #000;
			}

	}

.l-page .uks-panel-alt {
	position: relative;
	padding: 36px 5% 50px 5%;
	background: #000;

			h2.node__title {
				display: none;
			}

			h2 {
				color: #fff;
				margin-top: 0;
				padding-top: 0;
				font-size: 2em;
			}

			h3 {
				color: #fff;
				font-size: 1.75em
			}

			h4 {
				color: #fff;
			}

			p {
				color: #fff;
			}

	}

.l-page .uks-panel-more-info {
	position: relative;
	padding: 36px 5% 36px 5%;
	background-position: left top;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	min-height: 400px;
	background-image: url("../../../images/layout-images/uks-tynecott-mobile.jpg");
			
			h2.node__title {
				display: none;
			}

			h2 {
				color: #fff;
				margin-top: 0;
				padding-top: 0;
				font-size: 2em;
			}

			h3 {
				color: #fff;
				font-size: 1.75em
			}

			h4 {
				color: #fff;
			}

			p {
				color: #fff;
			}

	}

.l-page {

	.image-note { // Image name / title for the panes within the UKS panel page
		position: absolute;
		right: 10px;
		bottom: 0;
		
		p {
		font-size: 0.95em;
		color: #999;	
		}

	}
}

.l-page {

	.specification { //this corrects the text align on the UKS pages with in the Sidebar layout
	text-align: left;

		.image-max-width {
			max-width: 600px;
			margin: 0 auto;

		}
	}

}

//Video node embeded in panel
.uks-video-player {
	position: relative;
    padding: 36px 5%;
    background: #f1f1f1;

	h2, p {
		color: #000;
	}

}

// Video player responsive styles
.media-youtube-video {
	height: 0;
    width: 100%;
    padding-bottom: 56.25%;
    overflow: hidden;
    position: relative;
}

.media-youtube-1 iframe {
	width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}


@include breakpoint($tab) {


	.hp-intro {
	    height: 100px;
	}

	.hp-box {
		min-height: 400px;
		background-image: url("../../../images/home-page-images/uks-wide.jpg");

			.hp-info-holder {
				padding: 40px 0;
				margin: 0 15%;

			h1 {
				color: #f1f1f1;
				font-weight: normal;
				font-size: 3.25em;
				padding: 75px 0 0;
				margin: 0;
			}

			h2 {
				color: #f1f1f1;
				font-weight: normal;
				font-size: 3em;
				padding: 75px 0 0;
				margin: 0;
			}

			p {
				color: #f1f1f1;
				font-weight: normal;
				font-size: 1.75em;
				padding: 20px 0 0;
				margin: 0;

			}
		}

	}

	.l-page .uks-panel {
		padding-left: 20%;
		padding-right: 20%;
		
				h2 {
					font-size: 2.75em;
				}

				h3 {
					color: #000;
					font-size: 2.0em
				}

		}


	.l-page .uks-panel-alt {
		padding-left: 20%;
		padding-right: 20%;
		padding-bottom: 75px;
		}

	.l-page .uks-panel-more-info {
		padding-left: 20%;
		padding-right: 20%;
		min-height: 500px;
		background-image: url("../../../images/layout-images/uks-tynecott-narrow.jpg");
		}

	//Video node embeded in panel
	.uks-video-player {

		h2 {
			margin-top: 0;
			padding-top: 0;
		}

	}
}

@include breakpoint($tabwide) {

	.l-page .uks-panel-more-info {
		min-height: 900px;
		background-image: url("../../../images/layout-images/uks-tynecott-normal.jpg");
		}


}

@include breakpoint($desk) {

	.hp-box {
	min-height: 800px;
	background-image: url("../../../images/home-page-images/uks-wide.jpg");
	
			.hp-info-holder {
					padding: 80px 0;
					margin: 0 15%;

			h1 {
				color: #f1f1f1;
				font-weight: normal;
				padding: 100px 0 0;
				margin: 0;
			}


			h2 {
				color: #f1f1f1;
				font-weight: normal;
				padding: 100px 0 0;
				margin: 0;
			}

			p {
				color: #f1f1f1;
				font-weight: normal;
				padding: 20px 0 0;
				margin: 0;

			}
		}

	}

	.l-page .uks-panel-more-info {
		min-height: 1100px;
		background-image: url("../../../images/layout-images/uks-tynecott-wide.jpg");
		}

}