@import "ant-omega.styles"; 
//the following resources are already called in the eco-omega.styles.css
//@import "compass";
//@import "breakpoint";
//@import "singularitygs";
//@import "toolkit";

// Globbing from within sub-folders only works with relative paths.
//@import "../../variables/**/*"; //this relative file path to the 'variables' doesn't work!!? See the import above!


.hp-box {
    height: 49px;
    background-color: #000;
}

.l-main {
	padding-top: 80px;
    background-color: #fff;
}

.l-content {

        h2 {
        color: #000;
        font-size: 1.5em;
        }

        p {
        color: #000;
        font-size: 0.9em;
        }
}


@include breakpoint($tab) {

    .hp-box {
    height: 100px;
    }

    .l-main {
        padding-top: 180px;
    }


}

.l-footer {

    background-color: #000;

        h2.pane-title {
            color: #fff;
            }
            
}

