@import "ant-omega.styles"; 
//the following resources are already called in the eco-omega.styles.css
//@import "compass";
//@import "breakpoint";
//@import "singularitygs";
//@import "toolkit";

// Globbing from within sub-folders only works with relative paths.
//@import "../../variables/**/*"; //this relative file path to the 'variables' doesn't work!!? See the import above!




// Video player responsive styles
/* .media-youtube-video {
	height: 0;
    width: 100%;
    padding-bottom: 56.25%;
    overflow: hidden;
    position: relative;
} */

/* .media-youtube-1 iframe {
	width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
} */

.l-main {
	padding-top: 80px;
    background-color: #fff;
}

.l-content {

        h2 {
        color: #000;
        font-size: 1.5em;
        }

        p {
        color: #000;
        font-size: 0.9em;
        }
}

.l-region--sidebar-first {
     //background-color: green;
}


@include breakpoint($tab) {

    .l-main {
        padding-top: 180px;
    }


}

/* Some images are required to be in a landscape format. So we will call the node ID and then rotate the image 90 degrees. */


.page-node-49 .field--name-field-gallery-main-image {

    img {

        webkit-transform: rotate(90deg); /* Safari and Chrome */
        -moz-transform: rotate(90deg);   /* Firefox */
        -ms-transform: rotate(90deg);   /* IE 9 */
        -o-transform: rotate(90deg);   /* Opera */
        transform: rotate(90deg);

    }

}

.page-node-32 .field--name-field-gallery-main-image,
.page-node-34 .field--name-field-gallery-main-image { // node 34 is atest for local only

    img {

        webkit-transform: rotate(-90deg); /* Safari and Chrome */
        -moz-transform: rotate(-90deg);   /* Firefox */
        -ms-transform: rotate(-90deg);   /* IE 9 */
        -o-transform: rotate(-90deg);   /* Opera */
        transform: rotate(-90deg);

    }

}